<form [formGroup] = "form" (ngSubmit)="onSubmit(form,$event)">
  <md-card class="mdcard">
    <md-card-header>
      <md-card-title>
        注册:
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container color="accent" class="full-width">
        <input  mdInput type='password' placeholder="用户名" formControllName="name">
      </md-input-container>
      <md-input-container color="accent" class="full-width">
        <input  mdInput type='text' placeholder="email" formControllName="email">
      </md-input-container>
      <md-input-container color="accent" class="full-width">
        <input  mdInput type='password' placeholder="密码" formControllName="password">
      </md-input-container>
      <md-input-container color="accent" class="full-width">
        <input  mdInput type='password' placeholder="确认密码" formControllName="repeat">
      </md-input-container>
      <app-image-list-select
        [useSvgIcon]="true"
        [cols]="6"
        [title]="'选择头像：'"
        [items]="items"
        formControlName="avatar"></app-image-list-select>
      <button md-raised-button type="submit">注册</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>已有账户？<a routerLink="/login">登录</a></p>
      <p>忘记密码？<a routerLink="/forgot">找回</a></p>
    </md-card-actions>
  </md-card>
</form>
  