md-card{
    height: 40em;
    flex: 0 0 25em;
    margin: 5px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 0 1 auto;
}

.text-right{
    margin:10px;
    text-align: end;
}

md-icon.avatar{
    // overflow: hidden;
    // width: 80px;
    // height: 80px;
    // margin: 12px;
    border-radius: 50%;
}
// md-card {
//     margin: 15px;
//     display: flex;
// }
  
.text-right {
    margin: 10px;
    text-align: end;
}
  
.control-padding{
    margin-top: 10px;
    padding-top: 10px;
}
  
.action-area {
    display: flex;
}
  
// form {
//     display: flex;
//     flex-direction: column;
//     flex: 0 1 auto;
// }
  
md-tab {
    display: flex;
    flex: 0 1 auto;
}
  
:host {
    display: flex;
    flex-direction: column;
}